@page "/MyFooter"

<div class="container">
    <div class="row">
    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
        <li class="list-inline-item">
            <a href="#">Home Page</a>
        </li>
        </ul>
    </div>
    </div>
</div>